@page "/home"
@using MudBlazor

<PageTitle>Home</PageTitle>

<MudContainer DisableMaxWidth="true" Class="p-6">
    <div class="flex flex-row gap-6 justify-center items-center">
        <PieChart Data="@pie1Data" Labels="@pie1Labels" Palette="@customPalette" />
        <PieChart Data="@pie2Data" Labels="@pie2Labels" Palette="@customPalette" />
    </div>

    <div style="margin-top: 50px;">
        <ProjectsBoard />
    </div>
</MudContainer>

@code {
    double[] pie1Data = { 724, 1560, 234 };
    string[] pie1Labels = { "Inprogress", "Completed", "Started" };

    double[] pie2Data = { 514, 1211, 351 };
    string[] pie2Labels = { "Delayed Inprogress", "Delayed Completed", "Delayed Started" };

    string[] customPalette = { "#FFD54F", "#9E9E9E", "#DCEDC8" };
}
