@page "/home"
@using MudBlazor

<PageTitle>Home</PageTitle>

<MudContainer DisableMaxWidth="true">
    <MudGrid Justify="Justify.Center" GutterSize="GutterSize.Small">
        <MudItem xs="12" sm="6" md="6" lg="6">
            <div style="display:flex;justify-content:center;">
                <PieChart Data="@pie1Data" Labels="@pie1Labels" Palette="@customPalette" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="6" md="6" lg="6">
            <div style="display:flex;justify-content:center;">
                <PieChart Data="@pie2Data" Labels="@pie2Labels" Palette="@customPalette" />
            </div>
        </MudItem>
    </MudGrid>

    <div style="margin-top:50px;">
        <ProjectsBoard />
    </div>
</MudContainer>

@code {
    double[] pie1Data = { 724, 1560, 234 };
    string[] pie1Labels = { "Inprogress", "Completed", "Started" };

    double[] pie2Data = { 514, 1211, 351 };
    string[] pie2Labels = { "Delayed Inprogress", "Delayed Completed", "Delayed Started" };

    string[] customPalette = { "#FFD54F", "#9E9E9E", "#DCEDC8" };
}
